section#main
  figure#img-div
    img#image(src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/04/21/13/avicii-1.jpg?width=1000&height=614&fit=bounds&format=pjpg&auto=webp&quality=70&crop=16:9,offset-y0.5")
    //figcaption#img-caption Source: #[a(href="https://www.quantamagazine.org/stephen-hawkings-black-hole-paradox-keeps-physicists-puzzled-20180314/" target="_blank") Quanta Magazine]
  
  .container
    header
      h1#title AVICII
    main#tribute-info
      p I probably don't need to tell you who this man was. One of the most incredible person on the Earth has passed away on 20 April 2018.

      p He is one of the most inspiring person to me with his beautiful songs and extreme talent. If you interested in his life you can read more about him on the #[a#tribute-link(href="https://en.wikipedia.org/wiki/Avicii") Wikipedia] page, and listen his music visit his #[a(href="https://open.spotify.com/artist/1vCWHaC5f2uS3yhpwWbIA6") Tracklist].

      p I know that I suppose to show his timeline here, but I think this person has deserved more than just a few lines sorted in a list.
      
      hr
      
      h2 The Timeline
      
      ul
        li #[strong September 8, 1989] -  in Stockholm, Sweden
        li #[strong 2007] - Avicii signed with a label, Dejfitts plays
        li #[strong 2010] - "Seek Bromanace" achieved the top 20 status in several countries
        li #[strong 2011] - "Levels" was released, which launched him into the mainstream and superstardom
        li #[strong 2012] - His collab with David Guetta, "Sunshine" and "levels" were nominated for grammys
        li #[strong 2012] - Headline Ultra music Festival for the first time
        li #[strong 2013] - True era unfolded, including "wake me up" and "Hey brother"
        li #[strong 2014] - bergling announced he had been hospitalized
        li #[strong 2014] - Stayed busy in studio. working on 70 songs for his next album stories
        li #[strong 2015] - Stories released
        li #[strong 2016] - Avicii played his last show in ibiza, before retiring from touring
        li #[strong 2017] - His six-tracks EP Avici(01) wass unleashed
        li #[strong 2017] - Avicii: True stories documentry releashed
        li #[strong April 20,2018] - Avicii died at the age of 28 in muscat, Oman